 
 body {
     font-weight: 400;
     font-size: 1.6rem;
     line-height: 1.7;
 }
 p,a,button{
     font-family: 'Montserrat Alternates',
     sans-serif;
     font-family: 'Montserrat',
     sans-serif;
 }
