.system-box{
    padding: 5rem 0;
    .heading2-box{
        text-align: center;
        margin-bottom: 5rem;
        h2{
            color:#41acc5;
            font-size:4.5rem;
            text-transform: capitalize;
            width: 40%;
            margin: auto;
            position: relative;
            text-align: center;
            font-weight: 400;
            line-height: 1.2;
            @include px992{
                width: 50%;
            }
            @include px768 {
                width: 60%;
            }
            @include px480 {
                width: 90%;
            }
            @include div;
        }
    }
}
// ==============================================
// ============  feature section  ============
// ==============================================
.feature-boxes{
    padding: 5rem 0;
    color:#fff;
    text-align: center;
    background: linear-gradient(to right, #10e4db, #04aee3);
    
    .heading2-box {
        text-align: center;
        margin-bottom: 8rem;
        
        h2 {
            font-size: 4.5rem;
            text-transform: capitalize;
            margin: auto;
            position: relative;
            text-align: center;
            font-weight: 400;
            line-height: 1.2;
            
            @include div;

            &::after {
                background: #fff;
            }
            
        }
    }
    .small-text{
        // margin-top: 5rem;
        
        p{
            width: 72%;
            margin: auto;
        }
    }
}
// =======================================
// ========= news latter section =========
// =======================================
.subscribe-box{
    background: #333;
    color:#fff;
    padding: 2rem 0;
    h2{
        &:not(:last-child){
            font-size:4.5rem;
            margin-bottom: 3rem;
        }
    }
    .heading2-box{
        margin-bottom: 5rem;
        h2{
            font-size:1.5rem;
            width: 100%;
            font-weight: 400;
            font-family: $font1;
            @include div;
            &::after{
                margin-left: 0;
                background: #fff;
            }
        }
    }      
    .form-box{
        display: flex;
        width: 70%;
        @include px1024{
            width:80%;
        }
        @include px992 {
            width: 90%;
        }
        @include px768 {
            width: 70%;
        }
        @include px575 {
            width: 90%;
        }
        @include px480 {
            width: 100%;
        }

        input{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 5rem;
            font-size: 1.6rem;
            &::placeholder{
                text-transform: lowercase;
            }
        }
        .btn-subscribe2 {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 5rem;
            // width: 15rem;
            background: #5dbcd2;
            color:#fff;
            font-size:1.6rem;
            text-transform: uppercase;
            border:0;
            cursor: pointer;
            // padding: 1rem 2rem;
            &:hover{
                background: #05B4E2;
            }
        }
    }
    .img-box{
        text-align: center;
        height: 300px;
        img{
            height: 100%;
            margin-left: -10rem;
        }
        
    }
}
.footer-section{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: $font1;
}